@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu", sans-serif;
  background-color: #eff5ff;
}
@media (min-width: 769px) {
  body {
    background-color: #fff;
  }
  .bottom-nav {
    width: calc(100% - 275px);
  }
}
